*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
background:#050505;
color:white;
font-family:Arial, Helvetica, sans-serif;
}

.nav{
position:fixed;
top:0;
left:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;

background:rgba(0,0,0,.85);

z-index:1000;
}

.logo{
font-size:28px;
font-weight:bold;
letter-spacing:3px;
}

.menu a{
color:white;
text-decoration:none;
margin-left:20px;
}

.hero{
height:100vh;

background:url("FB_IMG_1778609921189.jpg");

background-size:cover;
background-position:center;
}

.hero-overlay{
height:100%;

background:rgba(0,0,0,.7);

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

padding:20px;
}

.hero h1{
font-size:90px;
}

.hero h2{
margin:20px 0;
color:#D6A91D;
}

.hero p{
max-width:700px;
line-height:1.8;
}

.botones{
margin-top:40px;
}

.botones a{
display:inline-block;

padding:14px 28px;

margin:8px;

background:#D6A91D;

color:black;

font-weight:bold;

text-decoration:none;

border-radius:10px;
}

section{
padding:100px 10%;
}

h2{
margin-bottom:30px;
color:#D6A91D;
}

.cards{
display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;
}

.card{
background:#111;

padding:30px;

border-radius:20px;

transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.redes{
margin-top:20px;
}

.redes a{
color:#D6A91D;
margin-right:15px;
}

footer{
padding:40px;
text-align:center;
background:#111;
}